@charset "UTF-8";

/* 回答はここに書いてね */
.q9__balloon {
  border: 5px solid #222;
  border-radius: 30px;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 500px;
}

.q9__balloon:before, .q9__balloon:after {
  border: 20px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}

.q9__balloon:before {
  border-top-color: #222;
  bottom: -45px;
  left: 30px;
}

.q9__balloon:after {
  border-top-color: #fff;
  bottom: -38px;
  left: 30px;
}

/* 回答はここに書いてね */
